@import "~common/stylus/variable"
@import "~common/stylus/mixin"
.aboutUsDetails
  page()
 .main
  padding $font-size-large-19 $font-size-medium-15
  .text
    font-size 12px
    line-height 22px
    color #666666
    text-align justify
    text-indent 2em
