@import "~common/stylus/variable"
@import "~common/stylus/mixin"
$imgPX = 70px
.edit
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color white
  //overflow hidden
  .wrapper
    position: relative
    height 100%
    background-color white
    padding-top 50px
    padding-left 12px
    padding-right 12px
    .shopImg
      position relative
      height $imgPX
      width $imgPX
      border-radius $imgPX
      margin-left auto
      margin-right auto
      padding-left auto
      padding-right auto
      overflow hidden
      img
        width 100px
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)
    .shop
      margin-top $font-size-small-s
      font-size $font-size-large-20
      color rgb(50,50,50)
      text-align center
    .orderMoney
      font-size 14px
      margin-top 40px
      margin-left 4px
    .money
      overflow hidden
      position: relative
      margin-top 25px
      border1pxBottomLine(rgb(230,230,230))
      height 40px
      line-height 40px
      .moneyIcon
        width 10%
        color rgb(53,53,53)
        font-size 32px
        float left
      .moneyInput
        margin-left 2%
        width 88%
        line-height 50px
        font-size 18px
        color rgb(50,50,50)
        outline 0
        float left
    .payButtonGray,.payButton
      height 44px
      margin-top 40px
      margin-left auto
      margin-right auto
      background-color rgb(221,221,221)
      text-align center
      line-height 44px
      border-radius 5px
      color white
    .payButton
      background-color rgb(0,156,136)
