@import "~common/stylus/variable"
@import "~common/stylus/mixin"
.message
  page()
 .content
   margin-top 44px
   padding 0px 20px
   .item
      width 100%
      background-color white
      border-bottom solid 1px #eee
     .item-img
        display block
        height 36px
        width 36px
        background-size 100%
        background-repeat no-repeat
        margin-left 15px
        position absolute
        top 50%
        transform translateY(-50%)
        &.img1
          bg-image('icon_message_n')
        &.img2
          bg-image('icon_message_p') // ---
     .item-bigDiv
        padding 10px 0px
       .item-title-line
         width 100%
         font-size 15px
         .item-title
           font-size 15px
           font-weight 600
           color #323232
       .item-time
           padding 2px 0px
           font-size 11px
           color #aaa
       .item-message
           font-size 12px
           color #323232
           line-height 18px





