@import "~common/stylus/variable"
div
  font-size 0
.bankAgreement
  page()
  .textWrapper
    position relative
    width 100%
    background-color rgb(255,255,255)
    .text
      height 100%
      text-align justify
      margin 0 auto
      margin-left 15px
      margin-right 15px
      padding-top 62px
      padding-bottom 20px
      line-height 20px
      letter-spacing 0.5px
      .head
        text-align center
        font-size $font-size-head
        font-weight 900
      .line
        font-size $font-size-line
      .common
        font-size $font-size-commom
      .fontSz
        font-size 15px
      .content
          margin-top 25px
        .xyImg
          .xyImgs
            width 100%
           //background-image url('./xy.png')
           //background-size 100%




