@import "~common/stylus/variable"
.opinion
  page()
  .content-wrapper
    position: relative
    height 200px
    width 90%
    margin-top 16px
    border: 1px solid #aaaaaa
    margin-left auto
    margin-right auto
    background-color white
    border-radius 5px
    .content
      display block
      height 170px
      width 100%
      resize none
      margin 0 auto
      box-sizing border-box
      font-size $font-size-medium-13
      border: none
      outline: 0
      color rgb(50,50,50)
      font-size 13px
      padding-left 10px
      padding-top 15px
    .text-remain
      position: absolute
      bottom: 12px
      right: 12px
      color #aaaaaa
      font-size 12px
  .content-phone
    position relative
    border: 1px solid #aaaaaa
    height 50px
    width 90%
    margin-top 10px
    margin-left auto
    margin-right auto
    background-color white
    .content-input
      position absolute
      height 50px
      width 90%
      padding-left 10px
      margin-right auto
      background-color white
      outline: 0
      font-size $font-size-medium-13
  .submit
    height 44px
    width 90%
    margin-top 40px
    margin-left auto
    margin-right auto
    background-color #009c88
    border-radius 5px
    color #fefefe
    outline: 0
    font-size $font-size-large17
    text-align center
    line-height 44px
  .submit2
    height 44px
    width 90%
    margin-top 40px
    margin-left auto
    margin-right auto
    background-color rgb(221,221,221)
    border-radius 5px
    color #fefefe
    outline: 0
    font-size $font-size-large17
    text-align center
    line-height 44px
  .icon
    height 55px
    width 55px
    margin 20px auto
    margin-top 40px
    bg-image('my_logo_zsy')
    background-size 100%
  .phone
    position relative
    height 12px
    width 200px
    margin 18px auto
    text-align center
    .iconPhone
      position absolute
      height $font-size-medium-x
      width $font-size-medium-15
      bg-image('icon_call')
      background-size 100%
      background-repeat no-repeat
      left 33px
    .number
      font-size $font-size-medium-15

