// 颜色定义规范
$color-background = #f5f5f5
$color-background-line = #e6e6e6
$color-background-m = rgba(0, 0, 0, 0.1)
$color-background-d = rgba(0, 0, 0, 0.3)
$color-background-l = rgba(0, 0, 0, 0.5)
$color-highlight-background = #333
$color-dialog-background = #666
$color-button-background = #dddddd
$color-theme = #009c88
$color-theme-line = rgba(0, 100, 90, 0.3)
$color-theme-click = rgba(0, 145, 126, 0.5)
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text-white = #ffffff
$color-text = #323232
$color-text-m = rgba(255, 255, 255, 0.1)
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium-13 = 13px
$font-size-medium = 14px
$font-size-medium-15 = 15px
$font-size-medium-x = 16px
$font-size-large17 = 17px
$font-size-large = 18px
$font-size-large-19 = 19px
$font-size-large-20 = 20px
$font-size-large-x = 22px

$font-size-head = 16px
$font-size-line = 13px
$font-size-commom = 12px

.mt20
  margin-top: 20px
.mt15
  margin-top: 15px
.mt10
  margin-top: 10px
.mt7
  margin-top: 7px

.mb7
  margin-bottom: 7px

.bold
  font-weight 600

.indent
  text-indent 2em

//图片二倍图和三倍图
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
page()
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

  .left
    float left
  .right
    float right 
